<settings>
  <category label="Scoring methods">
    <setting default="true" id="randomize" label="Randomize" type="bool"/>
    <setting default="true" id="playcount" label="Least played higher rank" type="bool" />
    <setting default="true" id="last_viewed" label="Longest not seen" type="bool" />
  </category>

  <category label="JSON RPC settings">
      <setting default="kodi" id="user" label="Username" type="text" />
      <setting default="None" id="password" label="Password" type="text"/>
      <setting default="http://localhost:8080/jsonrpc" id="url" label="JSON-RPC url" type="text" />
 </category>
</settings>